@use "../vars.scss" as *;

.container {
  flex-grow: 2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: $padding;

svg {
  fill: $em-primary;
  width: 1.7rem;
  height: 1.7rem;
}

  h1 {
    color: $em-primary;
  }
}