@use "../vars.scss" as *;

.container {
	.main {
		display: flex;
		flex-direction: row;
		min-height: max-content;
		height: 100vh;
		width: 100vw;

		aside {
			width: 50vw;

			display: flex;
			align-items: center;
			justify-content: center;

			z-index: 999;

			h1 {
				text-align: center;
				text-transform: uppercase;

				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 0.5rem;

				user-select: none;

				span {
					background: transparentize(
						$color: $background-light,
						$amount: 0.5
					);
					padding: calc($padding / 2);

					b {
						color: $em-secondary;
					}
				}

				font-size: 2rem;

				@media (max-width: 1080px) {
					font-size: 1.5rem;
				}

				@media (max-width: 800px) {
					font-size: 1rem;
				}
			}

			background: url("../../util/Handcuffs.png");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}

		label,
		select {
			user-select: none;
			color: $em-secondary;
		}

		section {
			flex-grow: 2;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 1rem;
			padding: $padding;

			width: 50vw;

			min-height: 100vh;

			height: 100%;

			.lpsLogo {
				width: 100%;
				display: flex;

				justify-content: flex-end;

				img {
					width: 72px;
					height: 72px;
				}

				@media (max-width: 800px) {
					img {
						width: 48px;
						height: 48px;
					}
				}
			}

			.section {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.reRoute {
				display: flex;
				gap: 0.25rem;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				user-select: none;
			}

			form {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				gap: 1rem;

				width: 100%;

				.errorMessage {
					background: $error;
					padding: $padding;
					border-radius: $border-radius-fancy;
					width: 100%;

					display: flex;
					flex-direction: row;
					align-items: center;
					gap: $padding / 2;
					flex-wrap: wrap;
				}
			}

			.formContainer {
				// height: 100%;
				flex-grow: 2;

				form.row {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;

					padding-top: 1rem;
					margin-top: 1rem;

					width: 100%;
					height: 100%;

					overflow: hidden;

					// height: max-content;
					// min-height: 300px;
					// max-height: 50vh;

					position: relative;

					.steps {
						display: flex;

						flex-direction: row;
						justify-content: flex-start;
						width: 150vw;

						height: max-content;

						position: absolute;
						top: 50%;
						left: 0vw;
						transform: translateY(-50%);

						height: 100%;

						transition: $transition;

						@for $i from 1 through 3 {
							&[step="#{$i}"] {
								left: calc(
									calc(calc(#{$i} - 1) * -50vw) - $padding
								);
							}
						}

						.step {
							display: flex;
							flex-direction: column;
							align-items: center;
							justify-content: flex-start;
							gap: 1rem;
							padding: $padding;

							overflow-y: auto;

							height: 100%;

							width: 50vw;

							input[type="number"] {
								&::-webkit-outer-spin-button,
								&::-webkit-inner-spin-button {
									-webkit-appearance: none;
									margin: 0;
								}

								/* Firefox */
								-moz-appearance: textfield;
							}

							.prefix,
							.squad {
								width: 100%;
								max-width: 300px;
								// width: max-content;
								background: $background-light;

								display: flex;
								align-items: center;
								gap: 0.25rem;

								background: $background-light;
								padding: $padding;

								border-radius: $border-radius-fancy;

								svg {
									fill: $em-secondary;
									width: 1.25rem;
									height: 1.25rem;
									margin: $margin;

									@media (max-width: 800px) {
										width: 1rem;
										height: 1rem;
									}
								}

								.prefixSelect,
								.squadSelect {
									outline: none;
									border: none;
									background: $background-light;

									font-size: 1.25rem;

									@media (max-width: 800px) {
										font-size: 1rem;
									}

									color: $em-secondary;
								}
							}

							.pfpArea {
								.pfpPreview {
									width: 6rem;
									height: 6rem;

									display: flex;
									align-items: center;
									justify-content: center;

									position: relative;

									border: 0.25rem solid $background-light;
									border-radius: $border-radius-icon-circular;

									.image {
										width: 100%;
										height: 100%;

										background-size: cover;
										background-position: center;

										border-radius: $border-radius-icon-circular;
									}
									button {
										position: absolute;
										top: -1rem;
										right: -1rem;
										z-index: 1;
									}
								}
							}
						}
					}
				}
			}

			.radios {
				width: 100%;

				display: flex;
				align-items: center;
				justify-content: center;

				button {
					padding: 0.25rem;

					&:hover {
						.radio {
							border-color: $em-primary !important;
							&.filled {
								background: $em-primary;
							}
						}
					}

					.radio {
						border-radius: $border-radius-circular;
						width: 1.25rem;
						height: 1.25rem;
						border: 0.25rem solid $text;

						transition: $transition-fast;

						background: transparent;

						&.filled {
							background: $text;
						}
					}
				}
			}

			.signupError {
				background: $error;
				box-shadow: $light-shadow;
				padding: $padding;
				border-radius: $border-radius-fancy;
				width: 100%;

				display: flex;
				flex-direction: row;
				align-items: center;
				gap: $padding / 2;
				flex-wrap: wrap;

				position: absolute;
				top: -5rem;
				left: 50%;
				transform: translateX(-50%);

				margin-bottom: $margin * 2;
				max-width: 90vw;

				z-index: 999;

				animation: flyupward 0.8s ease-in-out;
				animation-fill-mode: both;

				@keyframes flyupward {
					0% {
						top: -5rem;
					}

					75% {
						top: 1.7rem;
					}

					100% {
						top: 1rem;
					}
				}
			}
		}
	}
}
