@use "../vars.scss" as *;

.container {
  display: flex;
  ul {
    list-style: none;
  }
  .user {
    // background-color: $background-light;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    overflow: hidden;
    .pfp {
      display: flex;
      font-size: 4rem;
      padding: 40px;
      border-radius: 50%;
      background-color: $background-light;
    }
    ul {
      background-color: $background-light;
    }
  }
}
