@use "../vars.scss" as *;

.container {
	flex-grow: 2;

	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: hidden;

	.main {
		// flex-grow: 2;

		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $padding;

		overflow: hidden;

		// height: 50vh;

		> div {
			align-self: center;

			max-width: 800px;
			min-width: 400px;
			width: 95vw;

			height: 150vh;

			overflow: hidden;

			@media (max-width: 1000px) {
				max-width: 90vw;
			}

			> div {
				display: flex;
				flex-direction: column;

				position: relative;

				height: 100%;
				width: 100%;

				> header {
					.header {
						display: flex;
						flex-direction: row;

						gap: 0.5rem;
						align-items: center;
						justify-content: space-between;
					}

					padding: $padding !important;
					background: lighten($background-light, 10%);

					box-shadow: $light-shadow;

					border-radius: $border-radius;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;

					z-index: 2;

					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 0.5rem;

					min-height: 4rem;

					h1 {
						font-size: 1rem;
					}
				}

				.content {
					padding: $padding;
					display: flex;
					flex-direction: column;
					height: 100%;
					width: 100%;

					overflow-y: auto;
					gap: $padding;

					.message {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding: $padding;
					}

					.inputs {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						padding: $padding;
					}

					.students {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding: $padding;
						gap: $padding;

						.header {
						}

						.studentsList {
							width: 100%;

							display: flex;
							flex-direction: column;
							gap: $padding;

							.student {
								width: 100%;

								display: flex;
								flex-direction: row;
								align-items: center;
								justify-content: space-between;

								padding: $padding;

								background: $background-dark;
								border-radius: $border-radius;

								transition: $transition-fast;

								border: $border;

								&:hover {
									border-color: darken($background-dark, 25%);
									border-radius: 0;
									cursor: pointer;
								}

								.info {
									display: flex;
									flex-direction: row;
									align-items: center;
									gap: $padding;

									flex-grow: 2;

									.pfp {
										width: 2rem;
										height: 2rem;
										background-color: red;
										border-radius: 50%;

										border: $border;
										border-color: darken(
											$background-dark,
											25%
										);

										background-image: url(../../util//templatepfp.png);
										background-size: cover;
										background-position: center;
										background-size: 125%;
										background-repeat: no-repeat;
									}

									.data {
										display: flex;
										flex-direction: column;

										span {
											&:last-child {
												font-size: 0.75rem;
												color: darken($text, 25%);
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
