@use "../vars.scss" as *;

.navParent {
  position: relative;
  height: 4rem;
  width: 100vw;

  box-shadow: $box-shadow;	

  z-index: 100;

  .nav {
    width: 100%;
    height: 100%;

    background: $background-light;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom-right-radius: $border-radius;
    padding: $padding;

    z-index: 1;

    button {
      margin: 0 !important;
    //   background: $background-light !important;
      // z-index: 2;

      div {
        display: flex;
        flex-direction: column;
        div {
          transition: 0.25s ease-out;
          display: flex;
          flex-direction: column;
          align-items: center;
          height: min-content;
          width: min-content;

          &.flipped {
            transform: rotate(-180deg);
          }

          div {
            width: max-content;
            height: max-content;
            margin-bottom: 14px;
          }
        }
        svg {
          transform: rotate(0deg);
          &.flipped {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  .dropdown {
    z-index: -1;

    background: $background-light;
    border-radius: $border-radius-fancy;

    width: min-content;

    position: absolute;

    transition: $transition-fast;

    box-shadow: $light-shadow;

    left: 0;
    top: -50vw;

    height: max-content;

    margin: $margin;
    padding: $padding;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 2rem;

    &.dropped {
      left: 0;
      top: 100%;
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;

      button {
        border: none;
        outline: none;
        background: none;

        color: $text;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.25rem;
        padding: calc($padding / 2) $padding;

        transition: $transition-fast;

        // &:hover {
        //   color: $em-secondary;
        // }

        // &:active {
        //   color: darken($em-secondary, 25%);
        // }

        // &:first-child {
        // 	padding-top: calc($padding / 2);
        // }

        // &:last-child {
        // 	padding-bottom: calc($padding / 2);
        // }
      }
    }
  }
}