@use "../vars.scss" as *;

.tabs {
  height: 55%;
  display: flex;
  margin-top: 12.5%;
  ul {
    height: 100%;
    list-style: none;
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 1rem;
    padding-right: 1rem;
    &.selection {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      border-right: 4px solid $em-primary;
      li {
        cursor: pointer;
        font-size: 1.8rem;
        svg {
          transition: 0.2s ease-in-out;
          &:hover {
            fill: $em-secondary;
          }
        }
        &.activated {
          svg {
            fill: $em-primary;
          }
        }
      }
    }
  }
  ul.info {
    margin: 0 auto;
    margin-top: 5rem;
    .hidden {
      display: none;
    }
  }
}
