@use "../vars.scss" as *;

.viewReport {
	background: $text;
	height: 100%;
	z-index: 2;

	display: flex;
	flex-direction: column;
	gap: $padding * 2;
	padding: $padding;

	overflow-y: auto;

	* {
		color: $text-2;
	}

	ul,
	ol {
		list-style: none;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: $padding;

		align-items: center;

		li {
			gap: $padding / 2;
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}

	header {
		display: flex;
		flex-direction: column;

		h1 {
			font-size: 1.25rem;
			font-weight: 700;
			color: $em-secondary;
		}
		h2 {
			font-size: 1rem;
			font-weight: 600;

			em {
				// font-weight: 400;
				color: $em-default;
			}
		}
	}

	article {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		// border: 1px solid $text-2;

		section {
			height: max-content;

			&:first-child {
				border: 1px solid $text-2;
				border-right: none;
				background: transparentize($em-secondary, 0.5);
				height: 100%;

				display: flex;
				flex-direction: column;
				align-items: center;

				header {
					color: $text-2;

					flex-grow: 2;

					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					writing-mode: vertical-lr;
					text-orientation: upright;

					text-transform: uppercase;
					font-weight: bolder;

					letter-spacing: -0.25rem;

					padding: $padding * 2 0;
				}
			}

			&:last-child {
				flex-grow: 2;

				height: max-content;
				min-height: 100%;

				display: flex;
				flex-direction: column;

				div {
					width: 100%;

					flex-grow: 2;

					&:last-child {
						border-bottom: 1px solid $text-2;
					}

					display: flex;
					flex-direction: row;
					flex-wrap: wrap;

					border-right: 1px solid $text-2;

					// &:last-child {
					// 	border-bottom: none;
					// }

					span {
						// border-right: 1px solid $text-2;
						// border-bottom: 1px solid $text-2;

						border: 1px solid $text-2;
						border-bottom: none;
						border-right: none;

						flex-grow: 2;

						padding: $padding / 2;

						display: flex;
						flex-direction: column;

						ul {
							margin: 0 auto;
							justify-content: flex-start;
							li {
								font-weight: 600;
							}
						}

						label {
							font-weight: 700;
						}

						p {
							font-weight: 400;
						}
					}
				}
			}
		}
	}
}
