@use "../vars.scss" as *;

.viewReport {
	flex-grow: 2;
	z-index: 2;

	overflow-y: scroll;

	padding-bottom: 0 !important;

	.saveButton {
		position: absolute;
		right: $padding;
		bottom: 0;

		button {
			padding: 0.5rem;
		}
	}
}
