.proton {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
.proton h1,
.proton h2,
.proton h3,
.proton h4,
.proton h5,
.proton h6 {
  margin: 0;
}

button.proton.button {
  border: none;
  outline: none;
  background: none;
  user-select: none;
  -webkit-user-drag: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem;
  border: 0.15rem solid #ebebeb;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  transition: all 0.15s ease-in-out;
}
button.proton.button div.proton.children {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}
button.proton.button div.proton.children div.proton.button-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.15s ease-in-out;
  padding: inherit;
  border-radius: 1.25rem;
  border: 0.15rem solid #ebebeb;
}
button.proton.button div.proton.children div.proton.button-label[icon] {
  padding: 0.5rem;
  border-radius: 1.25rem;
}
button.proton.button svg,
button.proton.button * svg,
button.proton.button div.proton.button-label svg {
  transition: all 0.15s ease-in-out;
}
button.proton.button[noborder] {
  border: none !important;
}
button.proton.button[focusable]:focus {
  outline: 1px solid #90ec90;
}
button.proton.button[circular] {
  border-radius: 1.25rem;
}
button.proton.button[icon] {
  min-width: 2.325rem;
  font-size: 1.325rem;
}
button.proton.button[icon] div.proton.children {
  padding: 0.5rem;
}
button.proton.button[icon][circular] {
  border-radius: 50%;
}
button.proton.button[compact] {
  font-size: 0.75rem;
  margin: 0.25rem;
}
button.proton.button[compact] div.proton.children {
  padding: 0.125rem 0.25rem;
}
button.proton.button[compact][icon] {
  min-width: 1.08125rem;
  font-size: 0.99375rem;
}
button.proton.button[compact][icon] div.proton.children {
  padding: 0.125rem;
}
button.proton.button[compact][icon][circular] {
  border-radius: 50%;
}
button.proton.button[compact] div.proton.button-label[icon] {
  padding: 0.125rem !important;
}
button.proton.button[hollow] {
  background: none;
}
button.proton.button[hollow][underline] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}
button.proton.button[fill] {
  width: 100%;
}
button.proton.button[emphasis=primary] {
  color: white;
  background: #65aee9;
  border-color: #65aee9;
}
button.proton.button[emphasis=primary] svg {
  fill: white;
}
button.proton.button[emphasis=primary][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[emphasis=primary] div.proton.button-label {
  background: #3897e3;
  border-color: #3897e3 !important;
  color: white;
}
button.proton.button[emphasis=primary][hollow] {
  background: none;
  color: #65aee9;
}
button.proton.button[emphasis=primary][hollow] svg {
  fill: #65aee9;
}
button.proton.button[emphasis=primary][hollow] div.proton.button-label {
  background: none;
  color: #65aee9;
  border-color: #65aee9 !important;
}
button.proton.button[emphasis=primary][hollow][loading] div.proton.loading div.proton.dot {
  background: #65aee9;
}
button.proton.button[emphasis=primary]:hover {
  background: #3897e3;
  border-color: #3897e3;
}
button.proton.button[emphasis=primary]:hover div.proton.button-label {
  background: #1a6fb5;
  border-color: #1a6fb5 !important;
}
button.proton.button[emphasis=primary]:hover[hollow] {
  background: none;
  color: #3897e3;
}
button.proton.button[emphasis=primary]:hover[hollow] svg {
  fill: #3897e3;
}
button.proton.button[emphasis=primary]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #3897e3 !important;
  color: #3897e3;
}
button.proton.button[emphasis=primary]:active, button.proton.button[emphasis=primary][sel] {
  background: #1a6fb5;
  border-color: #1a6fb5;
}
button.proton.button[emphasis=primary]:active div.proton.button-label, button.proton.button[emphasis=primary][sel] div.proton.button-label {
  background: #0a2b45;
  border-color: #0a2b45 !important;
}
button.proton.button[emphasis=primary]:active[hollow], button.proton.button[emphasis=primary][sel][hollow] {
  background: none;
  color: #1a6fb5;
}
button.proton.button[emphasis=primary]:active[hollow] div.proton.button-label, button.proton.button[emphasis=primary][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #1a6fb5 !important;
  color: #1a6fb5;
}
button.proton.button[emphasis=primary]:active[hollow] svg, button.proton.button[emphasis=primary][sel][hollow] svg {
  fill: #1a6fb5;
}
button.proton.button[emphasis=primary-text] {
  background: white;
  border-color: white;
}
button.proton.button[emphasis=primary-text] div.proton.button-label {
  background: #e6e6e6;
  border-color: #e6e6e6 !important;
}
button.proton.button[emphasis=primary-text][hollow] {
  background: none;
  color: white;
}
button.proton.button[emphasis=primary-text][hollow] svg {
  fill: white;
}
button.proton.button[emphasis=primary-text][hollow] div.proton.button-label {
  background: none;
  color: white;
  border-color: white !important;
}
button.proton.button[emphasis=primary-text][hollow][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[emphasis=primary-text]:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
button.proton.button[emphasis=primary-text]:hover div.proton.button-label {
  background: #bfbfbf;
  border-color: #bfbfbf !important;
}
button.proton.button[emphasis=primary-text]:hover[hollow] {
  background: none;
  color: #e6e6e6;
}
button.proton.button[emphasis=primary-text]:hover[hollow] svg {
  fill: #e6e6e6;
}
button.proton.button[emphasis=primary-text]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #e6e6e6 !important;
  color: #e6e6e6;
}
button.proton.button[emphasis=primary-text]:active, button.proton.button[emphasis=primary-text][sel] {
  background: #bfbfbf;
  border-color: #bfbfbf;
}
button.proton.button[emphasis=primary-text]:active div.proton.button-label, button.proton.button[emphasis=primary-text][sel] div.proton.button-label {
  background: gray;
  border-color: gray !important;
}
button.proton.button[emphasis=primary-text]:active[hollow], button.proton.button[emphasis=primary-text][sel][hollow] {
  background: none;
  color: #bfbfbf;
}
button.proton.button[emphasis=primary-text]:active[hollow] div.proton.button-label, button.proton.button[emphasis=primary-text][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #bfbfbf !important;
  color: #bfbfbf;
}
button.proton.button[emphasis=primary-text]:active[hollow] svg, button.proton.button[emphasis=primary-text][sel][hollow] svg {
  fill: #bfbfbf;
}
button.proton.button[emphasis=secondary] {
  color: white;
  background: #f99d1c;
  border-color: #f99d1c;
}
button.proton.button[emphasis=secondary] svg {
  fill: white;
}
button.proton.button[emphasis=secondary][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[emphasis=secondary] div.proton.button-label {
  background: #dc8306;
  border-color: #dc8306 !important;
  color: white;
}
button.proton.button[emphasis=secondary][hollow] {
  background: none;
  color: #f99d1c;
}
button.proton.button[emphasis=secondary][hollow] svg {
  fill: #f99d1c;
}
button.proton.button[emphasis=secondary][hollow] div.proton.button-label {
  background: none;
  color: #f99d1c;
  border-color: #f99d1c !important;
}
button.proton.button[emphasis=secondary][hollow][loading] div.proton.loading div.proton.dot {
  background: #f99d1c;
}
button.proton.button[emphasis=secondary]:hover {
  background: #dc8306;
  border-color: #dc8306;
}
button.proton.button[emphasis=secondary]:hover div.proton.button-label {
  background: #925704;
  border-color: #925704 !important;
}
button.proton.button[emphasis=secondary]:hover[hollow] {
  background: none;
  color: #dc8306;
}
button.proton.button[emphasis=secondary]:hover[hollow] svg {
  fill: #dc8306;
}
button.proton.button[emphasis=secondary]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #dc8306 !important;
  color: #dc8306;
}
button.proton.button[emphasis=secondary]:active, button.proton.button[emphasis=secondary][sel] {
  background: #925704;
  border-color: #925704;
}
button.proton.button[emphasis=secondary]:active div.proton.button-label, button.proton.button[emphasis=secondary][sel] div.proton.button-label {
  background: #150d01;
  border-color: #150d01 !important;
}
button.proton.button[emphasis=secondary]:active[hollow], button.proton.button[emphasis=secondary][sel][hollow] {
  background: none;
  color: #925704;
}
button.proton.button[emphasis=secondary]:active[hollow] div.proton.button-label, button.proton.button[emphasis=secondary][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #925704 !important;
  color: #925704;
}
button.proton.button[emphasis=secondary]:active[hollow] svg, button.proton.button[emphasis=secondary][sel][hollow] svg {
  fill: #925704;
}
button.proton.button[emphasis=secondary-text] {
  background: white;
  border-color: white;
}
button.proton.button[emphasis=secondary-text] div.proton.button-label {
  background: #e6e6e6;
  border-color: #e6e6e6 !important;
}
button.proton.button[emphasis=secondary-text][hollow] {
  background: none;
  color: white;
}
button.proton.button[emphasis=secondary-text][hollow] svg {
  fill: white;
}
button.proton.button[emphasis=secondary-text][hollow] div.proton.button-label {
  background: none;
  color: white;
  border-color: white !important;
}
button.proton.button[emphasis=secondary-text][hollow][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[emphasis=secondary-text]:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
button.proton.button[emphasis=secondary-text]:hover div.proton.button-label {
  background: #bfbfbf;
  border-color: #bfbfbf !important;
}
button.proton.button[emphasis=secondary-text]:hover[hollow] {
  background: none;
  color: #e6e6e6;
}
button.proton.button[emphasis=secondary-text]:hover[hollow] svg {
  fill: #e6e6e6;
}
button.proton.button[emphasis=secondary-text]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #e6e6e6 !important;
  color: #e6e6e6;
}
button.proton.button[emphasis=secondary-text]:active, button.proton.button[emphasis=secondary-text][sel] {
  background: #bfbfbf;
  border-color: #bfbfbf;
}
button.proton.button[emphasis=secondary-text]:active div.proton.button-label, button.proton.button[emphasis=secondary-text][sel] div.proton.button-label {
  background: gray;
  border-color: gray !important;
}
button.proton.button[emphasis=secondary-text]:active[hollow], button.proton.button[emphasis=secondary-text][sel][hollow] {
  background: none;
  color: #bfbfbf;
}
button.proton.button[emphasis=secondary-text]:active[hollow] div.proton.button-label, button.proton.button[emphasis=secondary-text][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #bfbfbf !important;
  color: #bfbfbf;
}
button.proton.button[emphasis=secondary-text]:active[hollow] svg, button.proton.button[emphasis=secondary-text][sel][hollow] svg {
  fill: #bfbfbf;
}
button.proton.button[emphasis=default] {
  color: white;
  background: #4c5255;
  border-color: #4c5255;
}
button.proton.button[emphasis=default] svg {
  fill: white;
}
button.proton.button[emphasis=default][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[emphasis=default] div.proton.button-label {
  background: #34383a;
  border-color: #34383a !important;
  color: white;
}
button.proton.button[emphasis=default][hollow] {
  background: none;
  color: #4c5255;
}
button.proton.button[emphasis=default][hollow] svg {
  fill: #4c5255;
}
button.proton.button[emphasis=default][hollow] div.proton.button-label {
  background: none;
  color: #4c5255;
  border-color: #4c5255 !important;
}
button.proton.button[emphasis=default][hollow][loading] div.proton.loading div.proton.dot {
  background: #4c5255;
}
button.proton.button[emphasis=default]:hover {
  background: #34383a;
  border-color: #34383a;
}
button.proton.button[emphasis=default]:hover div.proton.button-label {
  background: #101112;
  border-color: #101112 !important;
}
button.proton.button[emphasis=default]:hover[hollow] {
  background: none;
  color: #34383a;
}
button.proton.button[emphasis=default]:hover[hollow] svg {
  fill: #34383a;
}
button.proton.button[emphasis=default]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #34383a !important;
  color: #34383a;
}
button.proton.button[emphasis=default]:active, button.proton.button[emphasis=default][sel] {
  background: #101112;
  border-color: #101112;
}
button.proton.button[emphasis=default]:active div.proton.button-label, button.proton.button[emphasis=default][sel] div.proton.button-label {
  background: black;
  border-color: black !important;
}
button.proton.button[emphasis=default]:active[hollow], button.proton.button[emphasis=default][sel][hollow] {
  background: none;
  color: #101112;
}
button.proton.button[emphasis=default]:active[hollow] div.proton.button-label, button.proton.button[emphasis=default][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #101112 !important;
  color: #101112;
}
button.proton.button[emphasis=default]:active[hollow] svg, button.proton.button[emphasis=default][sel][hollow] svg {
  fill: #101112;
}
button.proton.button[emphasis=default-text] {
  background: white;
  border-color: white;
}
button.proton.button[emphasis=default-text] div.proton.button-label {
  background: #e6e6e6;
  border-color: #e6e6e6 !important;
}
button.proton.button[emphasis=default-text][hollow] {
  background: none;
  color: white;
}
button.proton.button[emphasis=default-text][hollow] svg {
  fill: white;
}
button.proton.button[emphasis=default-text][hollow] div.proton.button-label {
  background: none;
  color: white;
  border-color: white !important;
}
button.proton.button[emphasis=default-text][hollow][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[emphasis=default-text]:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
button.proton.button[emphasis=default-text]:hover div.proton.button-label {
  background: #bfbfbf;
  border-color: #bfbfbf !important;
}
button.proton.button[emphasis=default-text]:hover[hollow] {
  background: none;
  color: #e6e6e6;
}
button.proton.button[emphasis=default-text]:hover[hollow] svg {
  fill: #e6e6e6;
}
button.proton.button[emphasis=default-text]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #e6e6e6 !important;
  color: #e6e6e6;
}
button.proton.button[emphasis=default-text]:active, button.proton.button[emphasis=default-text][sel] {
  background: #bfbfbf;
  border-color: #bfbfbf;
}
button.proton.button[emphasis=default-text]:active div.proton.button-label, button.proton.button[emphasis=default-text][sel] div.proton.button-label {
  background: gray;
  border-color: gray !important;
}
button.proton.button[emphasis=default-text]:active[hollow], button.proton.button[emphasis=default-text][sel][hollow] {
  background: none;
  color: #bfbfbf;
}
button.proton.button[emphasis=default-text]:active[hollow] div.proton.button-label, button.proton.button[emphasis=default-text][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #bfbfbf !important;
  color: #bfbfbf;
}
button.proton.button[emphasis=default-text]:active[hollow] svg, button.proton.button[emphasis=default-text][sel][hollow] svg {
  fill: #bfbfbf;
}
button.proton.button[color=red] {
  color: white;
  background: #ed5564;
  border-color: #ed5564;
}
button.proton.button[color=red] svg {
  fill: white;
}
button.proton.button[color=red][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=red] div.proton.button-label {
  background: #e8273a;
  border-color: #e8273a !important;
  color: white;
}
button.proton.button[color=red][hollow] {
  background: none;
  color: #ed5564;
}
button.proton.button[color=red][hollow] svg {
  fill: #ed5564;
}
button.proton.button[color=red][hollow] div.proton.button-label {
  background: none;
  color: #ed5564;
  border-color: #ed5564 !important;
}
button.proton.button[color=red][hollow][loading] div.proton.loading div.proton.dot {
  background: #ed5564;
}
button.proton.button[color=red]:hover {
  background: #e8273a;
  border-color: #e8273a;
}
button.proton.button[color=red]:hover div.proton.button-label {
  background: #b01322;
  border-color: #b01322 !important;
}
button.proton.button[color=red]:hover[hollow] {
  background: none;
  color: #e8273a;
}
button.proton.button[color=red]:hover[hollow] svg {
  fill: #e8273a;
}
button.proton.button[color=red]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #e8273a !important;
  color: #e8273a;
}
button.proton.button[color=red]:active, button.proton.button[color=red][sel] {
  background: #b01322;
  border-color: #b01322;
}
button.proton.button[color=red]:active div.proton.button-label, button.proton.button[color=red][sel] div.proton.button-label {
  background: #3d060c;
  border-color: #3d060c !important;
}
button.proton.button[color=red]:active[hollow], button.proton.button[color=red][sel][hollow] {
  background: none;
  color: #b01322;
}
button.proton.button[color=red]:active[hollow] svg, button.proton.button[color=red][sel][hollow] svg {
  fill: #b01322;
}
button.proton.button[color=red]:active[hollow] div.proton.button-label, button.proton.button[color=red][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #b01322 !important;
  color: #b01322;
}
button.proton.button[color=orange] {
  color: white;
  background: #f1b037;
  border-color: #f1b037;
}
button.proton.button[color=orange] svg {
  fill: white;
}
button.proton.button[color=orange][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=orange] div.proton.button-label {
  background: #e59b10;
  border-color: #e59b10 !important;
  color: white;
}
button.proton.button[color=orange][hollow] {
  background: none;
  color: #f1b037;
}
button.proton.button[color=orange][hollow] svg {
  fill: #f1b037;
}
button.proton.button[color=orange][hollow] div.proton.button-label {
  background: none;
  color: #f1b037;
  border-color: #f1b037 !important;
}
button.proton.button[color=orange][hollow][loading] div.proton.loading div.proton.dot {
  background: #f1b037;
}
button.proton.button[color=orange]:hover {
  background: #e59b10;
  border-color: #e59b10;
}
button.proton.button[color=orange]:hover div.proton.button-label {
  background: #9d6a0b;
  border-color: #9d6a0b !important;
}
button.proton.button[color=orange]:hover[hollow] {
  background: none;
  color: #e59b10;
}
button.proton.button[color=orange]:hover[hollow] svg {
  fill: #e59b10;
}
button.proton.button[color=orange]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #e59b10 !important;
  color: #e59b10;
}
button.proton.button[color=orange]:active, button.proton.button[color=orange][sel] {
  background: #9d6a0b;
  border-color: #9d6a0b;
}
button.proton.button[color=orange]:active div.proton.button-label, button.proton.button[color=orange][sel] div.proton.button-label {
  background: #261a03;
  border-color: #261a03 !important;
}
button.proton.button[color=orange]:active[hollow], button.proton.button[color=orange][sel][hollow] {
  background: none;
  color: #9d6a0b;
}
button.proton.button[color=orange]:active[hollow] svg, button.proton.button[color=orange][sel][hollow] svg {
  fill: #9d6a0b;
}
button.proton.button[color=orange]:active[hollow] div.proton.button-label, button.proton.button[color=orange][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #9d6a0b !important;
  color: #9d6a0b;
}
button.proton.button[color=yellow] {
  color: white;
  background: #ffce54;
  border-color: #ffce54;
}
button.proton.button[color=yellow] svg {
  fill: white;
}
button.proton.button[color=yellow][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=yellow] div.proton.button-label {
  background: #ffbf21;
  border-color: #ffbf21 !important;
  color: white;
}
button.proton.button[color=yellow][hollow] {
  background: none;
  color: #ffce54;
}
button.proton.button[color=yellow][hollow] svg {
  fill: #ffce54;
}
button.proton.button[color=yellow][hollow] div.proton.button-label {
  background: none;
  color: #ffce54;
  border-color: #ffce54 !important;
}
button.proton.button[color=yellow][hollow][loading] div.proton.loading div.proton.dot {
  background: #ffce54;
}
button.proton.button[color=yellow]:hover {
  background: #ffbf21;
  border-color: #ffbf21;
}
button.proton.button[color=yellow]:hover div.proton.button-label {
  background: #d49700;
  border-color: #d49700 !important;
}
button.proton.button[color=yellow]:hover[hollow] {
  background: none;
  color: #ffbf21;
}
button.proton.button[color=yellow]:hover[hollow] svg {
  fill: #ffbf21;
}
button.proton.button[color=yellow]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #ffbf21 !important;
  color: #ffbf21;
}
button.proton.button[color=yellow]:active, button.proton.button[color=yellow][sel] {
  background: #d49700;
  border-color: #d49700;
}
button.proton.button[color=yellow]:active div.proton.button-label, button.proton.button[color=yellow][sel] div.proton.button-label {
  background: #543c00;
  border-color: #543c00 !important;
}
button.proton.button[color=yellow]:active[hollow], button.proton.button[color=yellow][sel][hollow] {
  background: none;
  color: #d49700;
}
button.proton.button[color=yellow]:active[hollow] svg, button.proton.button[color=yellow][sel][hollow] svg {
  fill: #d49700;
}
button.proton.button[color=yellow]:active[hollow] div.proton.button-label, button.proton.button[color=yellow][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #d49700 !important;
  color: #d49700;
}
button.proton.button[color=green] {
  color: white;
  background: #a0d568;
  border-color: #a0d568;
}
button.proton.button[color=green] svg {
  fill: white;
}
button.proton.button[color=green][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=green] div.proton.button-label {
  background: #87ca40;
  border-color: #87ca40 !important;
  color: white;
}
button.proton.button[color=green][hollow] {
  background: none;
  color: #a0d568;
}
button.proton.button[color=green][hollow] svg {
  fill: #a0d568;
}
button.proton.button[color=green][hollow] div.proton.button-label {
  background: none;
  color: #a0d568;
  border-color: #a0d568 !important;
}
button.proton.button[color=green][hollow][loading] div.proton.loading div.proton.dot {
  background: #a0d568;
}
button.proton.button[color=green]:hover {
  background: #87ca40;
  border-color: #87ca40;
}
button.proton.button[color=green]:hover div.proton.button-label {
  background: #609429;
  border-color: #609429 !important;
}
button.proton.button[color=green]:hover[hollow] {
  background: none;
  color: #87ca40;
}
button.proton.button[color=green]:hover[hollow] svg {
  fill: #87ca40;
}
button.proton.button[color=green]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #87ca40 !important;
  color: #87ca40;
}
button.proton.button[color=green]:active, button.proton.button[color=green][sel] {
  background: #609429;
  border-color: #609429;
}
button.proton.button[color=green]:active div.proton.button-label, button.proton.button[color=green][sel] div.proton.button-label {
  background: #1f310d;
  border-color: #1f310d !important;
}
button.proton.button[color=green]:active[hollow], button.proton.button[color=green][sel][hollow] {
  background: none;
  color: #609429;
}
button.proton.button[color=green]:active[hollow] svg, button.proton.button[color=green][sel][hollow] svg {
  fill: #609429;
}
button.proton.button[color=green]:active[hollow] div.proton.button-label, button.proton.button[color=green][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #609429 !important;
  color: #609429;
}
button.proton.button[color=blue] {
  color: white;
  background: #4fc1e8;
  border-color: #4fc1e8;
}
button.proton.button[color=blue] svg {
  fill: white;
}
button.proton.button[color=blue][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=blue] div.proton.button-label {
  background: #22b1e2;
  border-color: #22b1e2 !important;
  color: white;
}
button.proton.button[color=blue][hollow] {
  background: none;
  color: #4fc1e8;
}
button.proton.button[color=blue][hollow] svg {
  fill: #4fc1e8;
}
button.proton.button[color=blue][hollow] div.proton.button-label {
  background: none;
  color: #4fc1e8;
  border-color: #4fc1e8 !important;
}
button.proton.button[color=blue][hollow][loading] div.proton.loading div.proton.dot {
  background: #4fc1e8;
}
button.proton.button[color=blue]:hover {
  background: #22b1e2;
  border-color: #22b1e2;
}
button.proton.button[color=blue]:hover div.proton.button-label {
  background: #157ea2;
  border-color: #157ea2 !important;
}
button.proton.button[color=blue]:hover[hollow] {
  background: none;
  color: #22b1e2;
}
button.proton.button[color=blue]:hover[hollow] svg {
  fill: #22b1e2;
}
button.proton.button[color=blue]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #22b1e2 !important;
  color: #22b1e2;
}
button.proton.button[color=blue]:active, button.proton.button[color=blue][sel] {
  background: #157ea2;
  border-color: #157ea2;
}
button.proton.button[color=blue]:active div.proton.button-label, button.proton.button[color=blue][sel] div.proton.button-label {
  background: #062732;
  border-color: #062732 !important;
}
button.proton.button[color=blue]:active[hollow], button.proton.button[color=blue][sel][hollow] {
  background: none;
  color: #157ea2;
}
button.proton.button[color=blue]:active[hollow] svg, button.proton.button[color=blue][sel][hollow] svg {
  fill: #157ea2;
}
button.proton.button[color=blue]:active[hollow] div.proton.button-label, button.proton.button[color=blue][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #157ea2 !important;
  color: #157ea2;
}
button.proton.button[color=purple] {
  color: white;
  background: #ac92eb;
  border-color: #ac92eb;
}
button.proton.button[color=purple] svg {
  fill: white;
}
button.proton.button[color=purple][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=purple] div.proton.button-label {
  background: #8b67e3;
  border-color: #8b67e3 !important;
  color: white;
}
button.proton.button[color=purple][hollow] {
  background: none;
  color: #ac92eb;
}
button.proton.button[color=purple][hollow] svg {
  fill: #ac92eb;
}
button.proton.button[color=purple][hollow] div.proton.button-label {
  background: none;
  color: #ac92eb;
  border-color: #ac92eb !important;
}
button.proton.button[color=purple][hollow][loading] div.proton.loading div.proton.dot {
  background: #ac92eb;
}
button.proton.button[color=purple]:hover {
  background: #8b67e3;
  border-color: #8b67e3;
}
button.proton.button[color=purple]:hover div.proton.button-label {
  background: #5a27d6;
  border-color: #5a27d6 !important;
}
button.proton.button[color=purple]:hover[hollow] {
  background: none;
  color: #8b67e3;
}
button.proton.button[color=purple]:hover[hollow] svg {
  fill: #8b67e3;
}
button.proton.button[color=purple]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #8b67e3 !important;
  color: #8b67e3;
}
button.proton.button[color=purple]:active, button.proton.button[color=purple][sel] {
  background: #5a27d6;
  border-color: #5a27d6;
}
button.proton.button[color=purple]:active div.proton.button-label, button.proton.button[color=purple][sel] div.proton.button-label {
  background: #2d146a;
  border-color: #2d146a !important;
}
button.proton.button[color=purple]:active[hollow], button.proton.button[color=purple][sel][hollow] {
  background: none;
  color: #5a27d6;
}
button.proton.button[color=purple]:active[hollow] svg, button.proton.button[color=purple][sel][hollow] svg {
  fill: #5a27d6;
}
button.proton.button[color=purple]:active[hollow] div.proton.button-label, button.proton.button[color=purple][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #5a27d6 !important;
  color: #5a27d6;
}
button.proton.button[color=white] {
  color: white;
  background: white;
  border-color: white;
}
button.proton.button[color=white] svg {
  fill: white;
}
button.proton.button[color=white][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=white] div.proton.button-label {
  background: #e6e6e6;
  border-color: #e6e6e6 !important;
  color: white;
}
button.proton.button[color=white][hollow] {
  background: none;
  color: white;
}
button.proton.button[color=white][hollow] svg {
  fill: white;
}
button.proton.button[color=white][hollow] div.proton.button-label {
  background: none;
  color: white;
  border-color: white !important;
}
button.proton.button[color=white][hollow][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=white]:hover {
  background: #e6e6e6;
  border-color: #e6e6e6;
}
button.proton.button[color=white]:hover div.proton.button-label {
  background: #bfbfbf;
  border-color: #bfbfbf !important;
}
button.proton.button[color=white]:hover[hollow] {
  background: none;
  color: #e6e6e6;
}
button.proton.button[color=white]:hover[hollow] svg {
  fill: #e6e6e6;
}
button.proton.button[color=white]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #e6e6e6 !important;
  color: #e6e6e6;
}
button.proton.button[color=white]:active, button.proton.button[color=white][sel] {
  background: #bfbfbf;
  border-color: #bfbfbf;
}
button.proton.button[color=white]:active div.proton.button-label, button.proton.button[color=white][sel] div.proton.button-label {
  background: gray;
  border-color: gray !important;
}
button.proton.button[color=white]:active[hollow], button.proton.button[color=white][sel][hollow] {
  background: none;
  color: #bfbfbf;
}
button.proton.button[color=white]:active[hollow] svg, button.proton.button[color=white][sel][hollow] svg {
  fill: #bfbfbf;
}
button.proton.button[color=white]:active[hollow] div.proton.button-label, button.proton.button[color=white][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #bfbfbf !important;
  color: #bfbfbf;
}
button.proton.button[color=warning] {
  color: white;
  background: #f8de6b;
  border-color: #f8de6b;
}
button.proton.button[color=warning] svg {
  fill: white;
}
button.proton.button[color=warning][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=warning] div.proton.button-label {
  background: #f6d33a;
  border-color: #f6d33a !important;
  color: white;
}
button.proton.button[color=warning][hollow] {
  background: none;
  color: #f8de6b;
}
button.proton.button[color=warning][hollow] svg {
  fill: #f8de6b;
}
button.proton.button[color=warning][hollow] div.proton.button-label {
  background: none;
  color: #f8de6b;
  border-color: #f8de6b !important;
}
button.proton.button[color=warning][hollow][loading] div.proton.loading div.proton.dot {
  background: #f8de6b;
}
button.proton.button[color=warning]:hover {
  background: #f6d33a;
  border-color: #f6d33a;
}
button.proton.button[color=warning]:hover div.proton.button-label {
  background: #d9b30a;
  border-color: #d9b30a !important;
}
button.proton.button[color=warning]:hover[hollow] {
  background: none;
  color: #f6d33a;
}
button.proton.button[color=warning]:hover[hollow] svg {
  fill: #f6d33a;
}
button.proton.button[color=warning]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #f6d33a !important;
  color: #f6d33a;
}
button.proton.button[color=warning]:active, button.proton.button[color=warning][sel] {
  background: #d9b30a;
  border-color: #d9b30a;
}
button.proton.button[color=warning]:active div.proton.button-label, button.proton.button[color=warning][sel] div.proton.button-label {
  background: #5f4f05;
  border-color: #5f4f05 !important;
}
button.proton.button[color=warning]:active[hollow], button.proton.button[color=warning][sel][hollow] {
  background: none;
  color: #d9b30a;
}
button.proton.button[color=warning]:active[hollow] svg, button.proton.button[color=warning][sel][hollow] svg {
  fill: #d9b30a;
}
button.proton.button[color=warning]:active[hollow] div.proton.button-label, button.proton.button[color=warning][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #d9b30a !important;
  color: #d9b30a;
}
button.proton.button[color=error] {
  color: white;
  background: #eb6383;
  border-color: #eb6383;
}
button.proton.button[color=error] svg {
  fill: white;
}
button.proton.button[color=error][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=error] div.proton.button-label {
  background: #e5365f;
  border-color: #e5365f !important;
  color: white;
}
button.proton.button[color=error][hollow] {
  background: none;
  color: #eb6383;
}
button.proton.button[color=error][hollow] svg {
  fill: #eb6383;
}
button.proton.button[color=error][hollow] div.proton.button-label {
  background: none;
  color: #eb6383;
  border-color: #eb6383 !important;
}
button.proton.button[color=error][hollow][loading] div.proton.loading div.proton.dot {
  background: #eb6383;
}
button.proton.button[color=error]:hover {
  background: #e5365f;
  border-color: #e5365f;
}
button.proton.button[color=error]:hover div.proton.button-label {
  background: #b7173d;
  border-color: #b7173d !important;
}
button.proton.button[color=error]:hover[hollow] {
  background: none;
  color: #e5365f;
}
button.proton.button[color=error]:hover[hollow] svg {
  fill: #e5365f;
}
button.proton.button[color=error]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #e5365f !important;
  color: #e5365f;
}
button.proton.button[color=error]:active, button.proton.button[color=error][sel] {
  background: #b7173d;
  border-color: #b7173d;
}
button.proton.button[color=error]:active div.proton.button-label, button.proton.button[color=error][sel] div.proton.button-label {
  background: #460917;
  border-color: #460917 !important;
}
button.proton.button[color=error]:active[hollow], button.proton.button[color=error][sel][hollow] {
  background: none;
  color: #b7173d;
}
button.proton.button[color=error]:active[hollow] svg, button.proton.button[color=error][sel][hollow] svg {
  fill: #b7173d;
}
button.proton.button[color=error]:active[hollow] div.proton.button-label, button.proton.button[color=error][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #b7173d !important;
  color: #b7173d;
}
button.proton.button[color=default] {
  color: white;
  background: #ebebeb;
  border-color: #ebebeb;
}
button.proton.button[color=default] svg {
  fill: white;
}
button.proton.button[color=default][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=default] div.proton.button-label {
  background: #d2d2d2;
  border-color: #d2d2d2 !important;
  color: white;
}
button.proton.button[color=default][hollow] {
  background: none;
  color: #ebebeb;
}
button.proton.button[color=default][hollow] svg {
  fill: #ebebeb;
}
button.proton.button[color=default][hollow] div.proton.button-label {
  background: none;
  color: #ebebeb;
  border-color: #ebebeb !important;
}
button.proton.button[color=default][hollow][loading] div.proton.loading div.proton.dot {
  background: #ebebeb;
}
button.proton.button[color=default]:hover {
  background: #d2d2d2;
  border-color: #d2d2d2;
}
button.proton.button[color=default]:hover div.proton.button-label {
  background: #ababab;
  border-color: #ababab !important;
}
button.proton.button[color=default]:hover[hollow] {
  background: none;
  color: #d2d2d2;
}
button.proton.button[color=default]:hover[hollow] svg {
  fill: #d2d2d2;
}
button.proton.button[color=default]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #d2d2d2 !important;
  color: #d2d2d2;
}
button.proton.button[color=default]:active, button.proton.button[color=default][sel] {
  background: #ababab;
  border-color: #ababab;
}
button.proton.button[color=default]:active div.proton.button-label, button.proton.button[color=default][sel] div.proton.button-label {
  background: #6c6c6c;
  border-color: #6c6c6c !important;
}
button.proton.button[color=default]:active[hollow], button.proton.button[color=default][sel][hollow] {
  background: none;
  color: #ababab;
}
button.proton.button[color=default]:active[hollow] svg, button.proton.button[color=default][sel][hollow] svg {
  fill: #ababab;
}
button.proton.button[color=default]:active[hollow] div.proton.button-label, button.proton.button[color=default][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #ababab !important;
  color: #ababab;
}
button.proton.button[color=success] {
  color: white;
  background: #90ec90;
  border-color: #90ec90;
}
button.proton.button[color=success] svg {
  fill: white;
}
button.proton.button[color=success][loading] div.proton.loading div.proton.dot {
  background: white;
}
button.proton.button[color=success] div.proton.button-label {
  background: #64e564;
  border-color: #64e564 !important;
  color: white;
}
button.proton.button[color=success][hollow] {
  background: none;
  color: #90ec90;
}
button.proton.button[color=success][hollow] svg {
  fill: #90ec90;
}
button.proton.button[color=success][hollow] div.proton.button-label {
  background: none;
  color: #90ec90;
  border-color: #90ec90 !important;
}
button.proton.button[color=success][hollow][loading] div.proton.loading div.proton.dot {
  background: #90ec90;
}
button.proton.button[color=success]:hover {
  background: #64e564;
  border-color: #64e564;
}
button.proton.button[color=success]:hover div.proton.button-label {
  background: #25d825;
  border-color: #25d825 !important;
}
button.proton.button[color=success]:hover[hollow] {
  background: none;
  color: #64e564;
}
button.proton.button[color=success]:hover[hollow] svg {
  fill: #64e564;
}
button.proton.button[color=success]:hover[hollow] div.proton.button-label {
  background: none;
  border-color: #64e564 !important;
  color: #64e564;
}
button.proton.button[color=success]:active, button.proton.button[color=success][sel] {
  background: #25d825;
  border-color: #25d825;
}
button.proton.button[color=success]:active div.proton.button-label, button.proton.button[color=success][sel] div.proton.button-label {
  background: #126b12;
  border-color: #126b12 !important;
}
button.proton.button[color=success]:active[hollow], button.proton.button[color=success][sel][hollow] {
  background: none;
  color: #25d825;
}
button.proton.button[color=success]:active[hollow] svg, button.proton.button[color=success][sel][hollow] svg {
  fill: #25d825;
}
button.proton.button[color=success]:active[hollow] div.proton.button-label, button.proton.button[color=success][sel][hollow] div.proton.button-label {
  background: none;
  border-color: #25d825 !important;
  color: #25d825;
}
button.proton.button[disabled] {
  opacity: 50%;
  pointer-events: none;
}
button.proton.button[loading] {
  position: relative;
  pointer-events: none;
  opacity: 100%;
}
button.proton.button[loading] div.proton.children {
  opacity: 0;
}
button.proton.button[loading] div.proton.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  visibility: visible;
}
button.proton.button[loading] div.proton.loading div.proton.dot:nth-child(3n+1) {
  animation-delay: 0s;
}
button.proton.button[loading] div.proton.loading div.proton.dot:nth-child(3n+2) {
  animation-delay: 0.25s;
}
button.proton.button[loading] div.proton.loading div.proton.dot:nth-child(3n+3) {
  animation-delay: 0.5s;
}
button.proton.button[loading] div.proton.loading div.proton.dot {
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  animation: bounce 1s infinite;
  animation-fill-mode: forwards;
  transform: translateY(-0.25rem);
}
@keyframes bounce {
  0% {
    transform: translateY(-0.25rem);
  }
  50% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(-0.25rem);
  }
}

div.proton.button-group {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
div.proton.button-group[wrap] {
  flex-wrap: wrap;
}
div.proton.button-group[split] {
  gap: 0.5rem;
}
div.proton.button-group[vertical] {
  flex-direction: column;
  align-items: flex-start;
}
div.proton.button-group button.proton.button {
  margin: 0;
}
div.proton.button-group:not([split]) {
  align-items: stretch;
}
div.proton.button-group:not([split]) button.proton.button {
  border-radius: 0;
}
div.proton.button-group:not([split]):not([vertical]) button.proton.button:first-child:not([underline]) {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
div.proton.button-group:not([split]):not([vertical]) button.proton.button:last-child:not([underline]) {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
div.proton.button-group:not([split])[vertical] button.proton.button {
  width: 100%;
}
div.proton.button-group:not([split])[vertical] button.proton.button:first-child:not([underline]) {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
div.proton.button-group:not([split])[vertical] button.proton.button:last-child:not([underline]) {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

div.proton.progress-bar {
  min-width: 1px;
  width: 100%;
  height: max-content;
  overflow: hidden;
  position: relative;
  border-radius: 0.25rem;
  border: 0.15rem solid #ebebeb;
  border-color: #ebebeb;
  border-width: 0;
  transition: all 0.15s ease-in-out;
  background: #ebebeb;
  color: white;
}
div.proton.progress-bar[border] {
  border-width: 0.15rem;
}
div.proton.progress-bar[color=red] {
  border-color: #ed5564;
}
div.proton.progress-bar[color=red] div.proton.fill {
  background: #ed5564;
}
div.proton.progress-bar[color=red] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=red][overlay] div.proton.spacer {
  background: #ed5564;
}
div.proton.progress-bar[color=orange] {
  border-color: #f1b037;
}
div.proton.progress-bar[color=orange] div.proton.fill {
  background: #f1b037;
}
div.proton.progress-bar[color=orange] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=orange][overlay] div.proton.spacer {
  background: #f1b037;
}
div.proton.progress-bar[color=yellow] {
  border-color: #ffce54;
}
div.proton.progress-bar[color=yellow] div.proton.fill {
  background: #ffce54;
}
div.proton.progress-bar[color=yellow] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=yellow][overlay] div.proton.spacer {
  background: #ffce54;
}
div.proton.progress-bar[color=green] {
  border-color: #a0d568;
}
div.proton.progress-bar[color=green] div.proton.fill {
  background: #a0d568;
}
div.proton.progress-bar[color=green] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=green][overlay] div.proton.spacer {
  background: #a0d568;
}
div.proton.progress-bar[color=blue] {
  border-color: #4fc1e8;
}
div.proton.progress-bar[color=blue] div.proton.fill {
  background: #4fc1e8;
}
div.proton.progress-bar[color=blue] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=blue][overlay] div.proton.spacer {
  background: #4fc1e8;
}
div.proton.progress-bar[color=purple] {
  border-color: #ac92eb;
}
div.proton.progress-bar[color=purple] div.proton.fill {
  background: #ac92eb;
}
div.proton.progress-bar[color=purple] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=purple][overlay] div.proton.spacer {
  background: #ac92eb;
}
div.proton.progress-bar[color=white] {
  border-color: white;
}
div.proton.progress-bar[color=white] div.proton.fill {
  background: white;
}
div.proton.progress-bar[color=white] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=white][overlay] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=warning] {
  border-color: #f8de6b;
}
div.proton.progress-bar[color=warning] div.proton.fill {
  background: #f8de6b;
}
div.proton.progress-bar[color=warning] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=warning][overlay] div.proton.spacer {
  background: #f8de6b;
}
div.proton.progress-bar[color=error] {
  border-color: #eb6383;
}
div.proton.progress-bar[color=error] div.proton.fill {
  background: #eb6383;
}
div.proton.progress-bar[color=error] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=error][overlay] div.proton.spacer {
  background: #eb6383;
}
div.proton.progress-bar[color=default] {
  border-color: #ebebeb;
}
div.proton.progress-bar[color=default] div.proton.fill {
  background: #ebebeb;
}
div.proton.progress-bar[color=default] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=default][overlay] div.proton.spacer {
  background: #ebebeb;
}
div.proton.progress-bar[color=success] {
  border-color: #90ec90;
}
div.proton.progress-bar[color=success] div.proton.fill {
  background: #90ec90;
}
div.proton.progress-bar[color=success] div.proton.spacer {
  background: white;
}
div.proton.progress-bar[color=success][overlay] div.proton.spacer {
  background: #90ec90;
}
div.proton.progress-bar div.proton.spacer {
  height: 50%;
  flex-grow: 2;
  min-width: 1px;
  min-height: 0.25rem;
  max-height: 1rem;
  border-radius: 1.25rem;
}
div.proton.progress-bar div.proton.spacer[invisible] {
  opacity: 0;
}
div.proton.progress-bar[overlay] div.proton.overlay {
  background: white;
  mix-blend-mode: screen;
}
div.proton.progress-bar[overlay] div.proton.overlay[backline]::after {
  background: black;
}
div.proton.progress-bar[overlay] div.proton.overlay div.proton.children,
div.proton.progress-bar[overlay] div.proton.overlay div.proton.percentage {
  color: black;
}
div.proton.progress-bar[overlay] div.proton.overlay div.proton.spacer {
  background: black;
}
div.proton.progress-bar[overlay] div.proton.overlay div.proton.dot {
  border-color: black;
}
div.proton.progress-bar[overlay] div.proton.overlay div.proton.dot[hollow]::after {
  background: white;
}
div.proton.progress-bar div.proton.fill {
  width: 0%;
  height: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
  transition: all 0.15s ease-in-out;
  background: #ebebeb;
}
div.proton.progress-bar div.proton.overlay {
  width: 100%;
  height: 100%;
  min-height: max-content;
  padding: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
div.proton.progress-bar div.proton.overlay div.proton.children {
  flex-grow: 2;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: max-content;
  height: 100%;
}
div.proton.progress-bar div.proton.overlay div.proton.percentage {
  font-weight: bolder;
  color: inherit;
}
div.proton.progress-bar div.proton.overlay div.proton.percentage:first-child {
  left: 0.5rem;
}
div.proton.progress-bar div.proton.overlay div.proton.percentage:last-child {
  right: 0.5rem;
}
div.proton.progress-bar div.proton.overlay div.proton.label {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.proton.progress-bar div.proton.overlay div.proton.dot {
  width: 1rem;
  height: 1rem;
  position: relative;
  border: 0.15rem solid #ebebeb;
  border-radius: 50%;
  border-color: white;
  border-width: 0.5rem;
  background: white;
}
div.proton.progress-bar div.proton.overlay div.proton.dot[hollow] {
  padding: 0.25rem;
  border-width: 0.25rem;
  background: none;
}
div.proton.progress-bar div.proton.overlay div.proton.dot[hollow]::after {
  content: "";
  pointer-events: none;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
div.proton.progress-bar div.proton.overlay[backline]::after {
  content: "";
  background: white;
  width: 95%;
  height: 0.25rem;
  border-radius: 1.25rem;
  position: absolute;
  top: 0.875rem;
  left: 2.5%;
}

div.proton.card {
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border: 0.15rem solid #ebebeb;
  border-radius: 0.25rem;
  overflow: hidden;
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
div.proton.card div.proton.children > :first-child {
  padding-top: 0.5rem;
}
div.proton.card div.proton.children > :last-child {
  padding-bottom: 0.5rem;
}
div.proton.card div.proton.children > :last-child.proton.card-content {
  padding-bottom: 1rem;
}
div.proton.card[focusable]:focus {
  outline: 1px solid #90ec90;
}
div.proton.card div.proton.card-header {
  width: 100%;
  padding: 0 0.5rem;
}
div.proton.card div.proton.card-header h1,
div.proton.card div.proton.card-header h2,
div.proton.card div.proton.card-header h3,
div.proton.card div.proton.card-header h4,
div.proton.card div.proton.card-header h5,
div.proton.card div.proton.card-header h6,
div.proton.card div.proton.card-header p {
  margin: 0;
}
div.proton.card div.proton.card-content {
  width: 100%;
  padding: 1rem;
}
div.proton.card div.proton.card-content[flex] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
div.proton.card div.proton.card-image {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.proton.card div.proton.card-image img {
  -webkit-user-drag: none;
  pointer-events: none;
  user-select: none;
}
div.proton.card[hovereffect]:hover {
  box-shadow: 0px 4px 16px #0000001f;
}
div.proton.card[dropshadow] {
  box-shadow: 0px 4px 16px #0000001f;
}
div.proton.card[dropshadow][hovereffect]:hover {
  box-shadow: 0px 4px 16px #0000003f;
}
div.proton.card[square] {
  border-radius: 0;
}
div.proton.card[rounder] {
  border-radius: 1rem;
}
div.proton.card[noborder] {
  border: none;
}
div.proton.card[disabled] {
  opacity: 50%;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
div.proton.card[loading] {
  position: relative;
  pointer-events: none;
  opacity: 100%;
}
div.proton.card[loading] div.proton.children {
  opacity: 0;
}
div.proton.card[loading] div.proton.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  visibility: visible;
}
div.proton.card[loading] div.proton.loading div.proton.dot:nth-child(3n+1) {
  animation-delay: 0s;
}
div.proton.card[loading] div.proton.loading div.proton.dot:nth-child(3n+2) {
  animation-delay: 0.25s;
}
div.proton.card[loading] div.proton.loading div.proton.dot:nth-child(3n+3) {
  animation-delay: 0.5s;
}
div.proton.card[loading] div.proton.loading div.proton.dot {
  width: 10%;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  animation: bounce 1s infinite;
  animation-fill-mode: forwards;
  transform: translateY(-0.25rem);
}
@keyframes bounce {
  0% {
    transform: translateY(-0.25rem);
  }
  50% {
    transform: translateY(0.25rem);
  }
  100% {
    transform: translateY(-0.25rem);
  }
}
div.proton.card[emphasis=primary] {
  border-color: #65aee9;
}
div.proton.card[emphasis=primary] div.proton.card-header {
  color: #65aee9;
}
div.proton.card[emphasis=primary][loading] div.proton.loading div.proton.dot {
  background: #65aee9;
}
div.proton.card[emphasis=primary-text] {
  border-color: white;
}
div.proton.card[emphasis=primary-text] div.proton.card-header {
  color: white;
}
div.proton.card[emphasis=primary-text][loading] div.proton.loading div.proton.dot {
  background: white;
}
div.proton.card[emphasis=secondary] {
  border-color: #f99d1c;
}
div.proton.card[emphasis=secondary] div.proton.card-header {
  color: #f99d1c;
}
div.proton.card[emphasis=secondary][loading] div.proton.loading div.proton.dot {
  background: #f99d1c;
}
div.proton.card[emphasis=secondary-text] {
  border-color: white;
}
div.proton.card[emphasis=secondary-text] div.proton.card-header {
  color: white;
}
div.proton.card[emphasis=secondary-text][loading] div.proton.loading div.proton.dot {
  background: white;
}
div.proton.card[emphasis=default] {
  border-color: #4c5255;
}
div.proton.card[emphasis=default] div.proton.card-header {
  color: #4c5255;
}
div.proton.card[emphasis=default][loading] div.proton.loading div.proton.dot {
  background: #4c5255;
}
div.proton.card[emphasis=default-text] {
  border-color: white;
}
div.proton.card[emphasis=default-text] div.proton.card-header {
  color: white;
}
div.proton.card[emphasis=default-text][loading] div.proton.loading div.proton.dot {
  background: white;
}
div.proton.card[color=red] {
  border-color: #ed5564;
}
div.proton.card[color=red] div.proton.card-header {
  color: #ed5564;
}
div.proton.card[color=red][loading] div.proton.loading div.proton.dot {
  background: #ed5564;
}
div.proton.card[color=orange] {
  border-color: #f1b037;
}
div.proton.card[color=orange] div.proton.card-header {
  color: #f1b037;
}
div.proton.card[color=orange][loading] div.proton.loading div.proton.dot {
  background: #f1b037;
}
div.proton.card[color=yellow] {
  border-color: #ffce54;
}
div.proton.card[color=yellow] div.proton.card-header {
  color: #ffce54;
}
div.proton.card[color=yellow][loading] div.proton.loading div.proton.dot {
  background: #ffce54;
}
div.proton.card[color=green] {
  border-color: #a0d568;
}
div.proton.card[color=green] div.proton.card-header {
  color: #a0d568;
}
div.proton.card[color=green][loading] div.proton.loading div.proton.dot {
  background: #a0d568;
}
div.proton.card[color=blue] {
  border-color: #4fc1e8;
}
div.proton.card[color=blue] div.proton.card-header {
  color: #4fc1e8;
}
div.proton.card[color=blue][loading] div.proton.loading div.proton.dot {
  background: #4fc1e8;
}
div.proton.card[color=purple] {
  border-color: #ac92eb;
}
div.proton.card[color=purple] div.proton.card-header {
  color: #ac92eb;
}
div.proton.card[color=purple][loading] div.proton.loading div.proton.dot {
  background: #ac92eb;
}
div.proton.card[color=white] {
  border-color: white;
}
div.proton.card[color=white] div.proton.card-header {
  color: white;
}
div.proton.card[color=white][loading] div.proton.loading div.proton.dot {
  background: white;
}
div.proton.card[color=warning] {
  border-color: #f8de6b;
}
div.proton.card[color=warning] div.proton.card-header {
  color: #f8de6b;
}
div.proton.card[color=warning][loading] div.proton.loading div.proton.dot {
  background: #f8de6b;
}
div.proton.card[color=error] {
  border-color: #eb6383;
}
div.proton.card[color=error] div.proton.card-header {
  color: #eb6383;
}
div.proton.card[color=error][loading] div.proton.loading div.proton.dot {
  background: #eb6383;
}
div.proton.card[color=default] {
  border-color: #ebebeb;
}
div.proton.card[color=default] div.proton.card-header {
  color: #ebebeb;
}
div.proton.card[color=default][loading] div.proton.loading div.proton.dot {
  background: #ebebeb;
}
div.proton.card[color=success] {
  border-color: #90ec90;
}
div.proton.card[color=success] div.proton.card-header {
  color: #90ec90;
}
div.proton.card[color=success][loading] div.proton.loading div.proton.dot {
  background: #90ec90;
}

div.proton.card-group {
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}
div.proton.card-group div.proton.card {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */