$text: white;

$em-primary: #65aee9;
$em-secondary: #f99d1c;
$em-default: #4c5255;

$warning: #f0b74e;
$error: #e05071;
$success: #90ec90;

$background-light: #4c5255;
$background-dark: #393e41;

// Rect
$padding: 0.5rem; // If changed, the progress bar will break;
$margin: 0.5rem;

// Box Shadow
$light-shadow-color: #000000c5;
$dark-shadow-color: #000000;
$light-shadow: 0px 4px 16px $light-shadow-color;
$dark-shadow: 0px 4px 16px $dark-shadow-color;
$box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.5);

// Border
$border-width: 0.15rem;
$border-radius: 0.5rem;
$border-radius-fancy: 0.25rem 0rem 0rem 0.25rem;
$border-radius-circular: 1.25rem;
$border-radius-icon-circular: 50%;
$border-style: solid;
$border-style-blur: dotted;
$border-color: $background-dark;

$border: $border-width $border-style $border-color;

// Transitions
$transition: all 0.3s ease-in-out;
$transition-fast: all 0.15s ease-in-out;

// Text
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
	Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-weight: 500;

// Font
$font-small: 0.75rem;
$font-p: 1rem;
$h6: 1.5rem;
$h5: 2rem;
$h4: 2.5rem;
$h3: 3rem;
$h2: 3.5rem;
$h1: 4rem;
